@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* Estilo Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-style: normal;
}
body {
  background-color: #fffdd0;
  background-attachment: fixed;
  overflow: hidden;
}
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Estilo do Header */
#topo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9vh;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 30px;
  margin-left: 35%;
  text-wrap: nowrap;
  text-transform: capitalize;
}

#btn-dark {
  width: 100px;
  height: 20px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 25%;
  padding: 2%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

/* Estilo do conteudo Pricipal */
#principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 81vh;
}

.entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entrada > label {
  padding-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}
#texto {
  width: 40vh;
  height: 30vh;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.entrada > button {
  width: 100px;
  height: 40px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  background-color: gray;
}
#you-cant-see-me {
  display: none;
  width: 100px;
  height: 90px;
}
.saida {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}
#result {
  width: 400px;
  height: 100px;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-top-color: #000;
  text-align: center;
  font-size: 15px;
  font-family: "Cinzel", serif;
  font-weight: bold;
  word-wrap: break-word;
}

/* Estilo Rodape */
#rodape {
  display: flex;
  width: 100%;
  height: 10vh;
  margin-top: 1.2px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#text-rodape {
  font-size: 15px;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
