* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

body {
  background-image: linear-gradient(45deg, black, green, limegreen);
  background-attachment: fixed;
}

#result {
  width: 400px;
  height: 200px;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-top-color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
}
#texto {
  width: 40vh;
  height: 30vh;
  padding: 5px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.entrada > label {
  padding-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}
.entrada > button {
  width: 100px;
  height: 20px;
  margin-top: 3vh;
  font-size: 12px;
  font-weight: bold;
}

.saida {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}
button:hover {
  cursor: pointer;
  background-color: gray;
}
